<app-layout-default>
  <main>
    <mat-card>
      <mat-toolbar color="primary">
        <span>Cursos disponiveis</span>
      </mat-toolbar>
      <section class="mat-elevation-z8 column-flex">
        <app-courses-list
          *ngIf="courses$ | async as courses; else loading"
          [courses]="courses"
          (add)="addCourse()"
          (edit)="editCourse($event)"
          (delete)="deleteCourse($event)"
        >
        </app-courses-list>

        <section *ngIf="courses$ | async as courses">
          <div [hidden]="courses.length !== 0">
            ainda não possui cursos cadastrados
          </div>
        </section>
        <ng-template #loading>
          <div class="loading-spinner">
            <mat-spinner diameter="50"> </mat-spinner>
          </div>
        </ng-template>
      </section>
    </mat-card>
  </main>
</app-layout-default>
