<app-layout-default>
  <main>
    <mat-card>
      <mat-toolbar color="primary">
        <span>Cursos disponiveis</span>
      </mat-toolbar>
      <section class="mat-elevation-z8 column-flex">
        <div *ngIf="courses$ | async as courses; else loading">
          <app-courses-list
            [hidden]="!courses"
            [courses]="courses"
            (add)="addCourse()"
            (edit)="editCourse($event)"
            (delete)="deleteCourse($event)"
          >
          </app-courses-list>
          <div *ngIf="!courses.length">
            <span> ainda não possui cursos cadastrados </span>
          </div>
        </div>
        <ng-template #loading>
          <div class="loading-spinner">
            <mat-spinner diameter="50"> </mat-spinner>
          </div>
        </ng-template>
      </section>
    </mat-card>
  </main>
</app-layout-default>
